{% extends 'layout.html' %}
{%block main%}
<form  class="form-horizontal" method="post" >
    <h5 class="page-header alert-info" style="margin:0px; padding:10px; margin-bottom:10px;">
        基本信息
    </h5>
    <div class="row">
        <div class="col-sm-7">
            <div class="form-group">
                <label class="col-sm-3 control-label" for="deptName">部门名称</label>
                <div  class="col-sm-9">
                    <input type="text" class="form-control"value="{{department.deptName}}" id="deptName" name="deptName" placeholder="请输入部门名称"/>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="form-group">
                <label class="col-sm-3 control-label" for="deptDescription">部门描述</label>
                <div  class="col-sm-9">
                    <textarea  class="form-control" rows="5"value="{{department.deptDescription}}" id="deptDescription" name="deptDescription" placeholder="请输入部门描述" ></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-sm-offset-3">
            <input type="submit" class="btn btn-success" value="修改部门">
            <input type="reset" class="btn  btn-danger" value="重置信息">
        </div>
    </div>
</form>
{%endblock%}
